<nav>
  <ul>
    <li><a class="<%= currentIndex %>"href="/">Home</a></li>
    <li><a class="<%= currentAbout %>"href="/about">About</a></li>
    <li><a class="<%= currentGallery %>"href="/gallery">Gallery</a></li>
    <li><a class="<%= currentBlog %>"href="/blog">Blog</a></li>
  </ul>
</nav>