<nav>
  <ul>
    <li <% if (title==='Home Page') { %> class="current-page" <% } %>><a href="/">Home</a></li>
    <li <% if (title==='About') { %> class="current-page" <% } %>><a href="/about">About</a></li>
    <li <% if (title==='Gallery') { %> class="current-page" <% } %>><a href="/gallery">Gallery</a></li>
    <li <% if (title==='Blog') { %> class="current-page" <% } %>><a href="/blog">Blog</a></li>
  </ul>
</nav>