<!-- Going to use this for when I can actually figure my shit out and have as many attribute dynamically generated as possible, until then I will use nav-bare.ejs, as it lacks sparkly bits, but doesn't interfere with my renders -->
<nav>
  <ul>
    <li <% if (title==='Home Page') { %> class="current-page" <% } %>><a href="/">Home</a></li>
    <li <% if (title==='About') { %> class="current-page" <% } %>><a href="/about">About</a></li>
    <li <% if (title==='Gallery') { %> class="current-page" <% } %>><a href="/gallery">Gallery</a></li>
    <li <% if (title==='Blog') { %> class="current-page" <% } %>><a href="/blog">Blog</a></li>
  </ul>
</nav>