<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
  <main>
    
    <h2><%= content %></h2>
  
    <section>
      <img class="blog-img" src="https://i.imgur.com/np9Y9GR.jpg" alt="Doggo">
      <h3>Doggos</h3>
      <h4>Date</h4>
      <p>Here's a picture of a Doggo, because my content does not matter at this very moment. I'm about to bust out into an informative blog post Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur in tenetur atque dolores praesentium, unde accusantium? Illum esse quis maiores.</p>
    </section>
    
  </main>
  

  <%- include('partials/footer') %>
  
</body>
</html>