  <%- include('partials/head') %>

  <%- include('partials/header') %>
  <body>
  <main>
    
    <h2><%= content %></h2>
  
    <section>
      <img class="home-img" src="https://media.giphy.com/media/SDogLD4FOZMM8/giphy.gif" alt="startled man">
    </section>
    
  </main>
  

  <%- include('partials/footer') %>
</body>
</html>